# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Sublime project files
*sublime*

# Latex
*.aux
*.log
*.swp
*.fdb_latexmk
*.fls
*.pdf
*.synctex.*

# Import from abc project
DebugLib/
DebugExe/
DebugExt/

ReleaseLib/
ReleaseExe/
ReleaseExt/

_TEST/
lib/abc*
lib/m114*
lib/bip*
docs/

src/ext*
src/xxx/
src/aig/au/
src/aig/ssm/
src/aig/ddb/

*~
*.orig

*.[od]

*.ncb
*.opt
*.plg
*.ps
*.out

*.zip

abcspaceext.dsw
abcext.dsp

abcexe.vcproj*
abclib.vcproj*
abcspace.sln
abcspace.suo

*.pyc

src/python/build
src/python/bdist
src/python/pyabc.py
src/python/pyabc_wrap.*

.idea/
build/

*.rej
*.orig

libabc.a
abc
!*abc/
arch_flags